/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: sans-serif;
  }
  
/* utilities */
.bg-blue{
    background-color: #298cd7!important;
}

.bg-red{
  background-color: red!important;
}




/* content */

.topDiv{
  margin: 50px 100px;
}

#grid {
  width: 60vw;
  height: 60vh;
  margin: 0px 100px auto;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

#grid.game-over{
  pointer-events: none;
}

.cell {
    width: calc(100% / 10);
    height: calc(100% / 10);
    background-color: #212a51;
    border: 1px solid white;
    border-radius: 8px;
    color:white;
    font-size: 10px;
}


.cell.clicked{
  pointer-events: none;
}

.cell.hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.cell.medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.cell.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}

